$priCol : gray;
$AccCol: black;
@mixin exp($margin, $width) {
    margin: $margin;
    width: $width;
}
#cards{
    width: 100%;
    background-color: $priCol;
    float: left;
}
header{
    color: blue;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.774);
    height: 50px;
    text-align: center;
}
#Acord{
    color: $AccCol;
}
#AcordUn{
    color: $priCol;
}
h2{
    margin-top: 10px;
    text-align: center;
}
#card{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30%;
}
#expM{
    margin-top: 0px;
    width: 30px;
}
#expY{
    @include exp(0px, 30px);
}
#cvc{
    margin-left: 30%;
}
#orderbtn{
    margin-top: 20px;
    width: 200px;
    margin-left: 75px;
}
.textbox{
    margin-top: 10px;
    width: 150px;
    margin-left: 30%;
}
a{
    color: $AccCol;
}
#map{
    width: 80%;
    height: 400px;
    margin: 20px;
}
#info{
    border-radius: 8px;
    margin-top: 4%;
    background-color: $priCol;
}
.section{
    color: $priCol;
    margin-left: 5%;
    float: left;
}
#logo{
    @include exp(auto, 60px);
}
#coso{
    margin-top: 40px;
}
#btnMod{
    margin: 20px;
    margin-left: 95px;
}
img{
    padding: 2px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.logo1{
    width: 200px;
}
aside{
    align-content: center;
    background-color: $priCol;
    border-radius: 8px;
    width: 100%;
}
h4{
    margin: 2px;
    text-align: center;
}
footer{
    background-color: rgb(116, 107, 107);
    position: fixed;
    border-radius: 5px;
    height: 20px;
    bottom: 0px;
    width: 100%;
}
.container{
    color: white;
}
body{
    background-color: rgb(65, 3, 65);
}
@media only screen and (min-width: 600px){
    nav{
        width: 100%;
    }
}
@media only screen and (min-width: 1600px){
    aside{
        width: 280px;
        float: left;
    }
}